* {
  margin: 0;
  text-align: center ;
  line-height: 1.5;
}

.color {
  display: inline-block;
  width: 60px;
  height: 60px;
}

#pixel-board {
  width: 210px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  line-height: 0;
  line-break: auto;
}

.pixel {
  border: 1px solid black;
  display: inline-block;
  background-color: white;
}